@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

body,
html {
	@apply h-full;
}

body {
	@apply bg-secondary-50 dark:bg-surface-900;
}

hr {
	border-width: 1px;
}

@font-face {
	font-family: 'Berry Rotunda';
	src: url('/fonts/Berry Rotunda.ttf');
	font-display: swap;
}

@font-face {
	font-family: 'VerilySerifMono';
	src: url('/fonts/VerilySerifMono.otf');
	font-display: swap;
}
